# PostgreSQL
POSTGRES_USER=nordic
POSTGRES_PASSWORD=change_me_strong_password
POSTGRES_DB=nordic_devices

# Next.js / NextAuth
AUTH_SECRET=generate_with__openssl_rand_-base64_32

# URL сайту — IP сервера або localhost
NEXTAUTH_URL=http://192.168.1.100:3000
